{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
    <div class="container">
        {% for article in articles %}
            <a href="{{ path('news_article_show', { slug: article.slug }) }}">
                <article class="mt-5 mb-10 p-10 border shadow-sm" id="{{ article.slug }}">
                    <h3 class="font-bold text-xl mb-5">{{ article.title }}</h3>
                    <span class="text-sm mb-3 block">Published at:
                        {{ article.publishedAt ? article.publishedAt|ago : 'unpublished' }}
                    </span>
                    <p>{{ article.content|striptags|slice(0,100)|parse_markdown }}...</p>
                </article>
            </a>
        {% endfor %}
    </div>
{% endblock %}
