{% extends 'base.html.twig' %}

{% block title %}Article: {{ article.title }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-10 mb-10 font-bold text-xl">{{ article.title }}</h1>
    <span class="text-sm mb-3 block">Published at:
        {{ article.publishedAt ? article.publishedAt|ago : 'unpublished' }}
    </span>
    <main class="mb-20">{{ article.content|parse_markdown }}</main>
    <a class="transition-text transition-border ease-in-out duration-300 text-sm px-4 py-2 border rounded text-gray bg-transparent border-indigo-500 text-indigo-500 hover:border-indigo-700 hover:bg-indigo-700 hover:text-white mt-4 lg:mt-0" href="{{ path('news') }}">Back to the articles</a>
</div>
{% endblock %}
